[submodule "code/protected/vendors/zLess"]
	path = code/protected/vendors/zLess
	url = ../zLess
[submodule "code/protected/vendors/zTester"]
	path = code/protected/vendors/zTester
	url = ../zTester/
[submodule "code/protected/vendors/simpletest"]
	path = code/protected/vendors/simpletest
	url = ../simpletest
