[submodule "code/common/vendors/zLess"]
	path = code/common/vendors/zLess
	url = ../zLess
[submodule "code/common/vendors/zTester"]
	path = code/common/vendors/zTester
	url = ../zTester/
[submodule "code/common/vendors/simpletest"]
	path = code/common/vendors/simpletest
	url = ../simpletest
[submodule "code/common/vendors/yii"]
	path = code/common/vendors/yii
	url = /Users/zhangshenjia/Cloud/works/github/yii
